# -------------------------------------------------
# Global settings
# -------------------------------------------------
web_host: llm-router.local
replicaCount: 1
image:
  repository: quay.io/radlab/llm-router
  tag: latest
  pullPolicy: IfNotPresent

# -------------------------------------------------
# ConfigMap
# -------------------------------------------------
config:
  LLM_ROUTER_BALANCE_STRATEGY: balanced
  LLM_ROUTER_DEFAULT_EP_LANGUAGE: pl
  LLM_ROUTER_EP_PREFIX: /api
  LLM_ROUTER_EXTERNAL_TIMEOUT: "300"
  LLM_ROUTER_FORCE_GUARDRAIL_REQUEST: "False"
  LLM_ROUTER_FORCE_GUARDRAIL_RESPONSE: "False"
  LLM_ROUTER_FORCE_MASKING: "False"
  LLM_ROUTER_GUARDRAIL_NASK_GUARD_HOST_EP: ""
  LLM_ROUTER_GUARDRAIL_STRATEGY_PIPELINE_RESPONSE: ""
  LLM_ROUTER_GUARDRAIL_WITH_AUDIT_REQUEST: "False"
  LLM_ROUTER_GUARDRAIL_WITH_AUDIT_RESPONSE: "False"
  LLM_ROUTER_IN_DEBUG: "False"
  LLM_ROUTER_LOG_FILENAME: llm-router.log
  LLM_ROUTER_LOG_LEVEL: INFO
  LLM_ROUTER_MASKING_STRATEGY_PIPELINE: "['fast_masker']"
  LLM_ROUTER_MASKING_WITH_AUDIT: "False"
  LLM_ROUTER_MINIMUM: "True"
  LLM_ROUTER_MODELS_CONFIG: resources/configs/models-config.json
  LLM_ROUTER_PROMPTS_DIR: resources/prompts
  LLM_ROUTER_REDIS_HOST: svc-redis
  LLM_ROUTER_REDIS_PORT: "6379"
  LLM_ROUTER_SERVER_HOST: 0.0.0.0
  LLM_ROUTER_SERVER_PORT: "8080"
  LLM_ROUTER_SERVER_THREADS_COUNT: "1"
  LLM_ROUTER_SERVER_TYPE: uvicorn
  LLM_ROUTER_SERVER_WORKER_CLASS: uvicorn.workers.UvicornWorker
  LLM_ROUTER_SERVER_WORKERS_COUNT: "1"
  LLM_ROUTER_TIMEOUT: "30"

# -------------------------------------------------
# Service
# -------------------------------------------------
service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

redis:
  enabled: true
  image:
    repository: redis
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 6379
    targetPort: 6379

# -------------------------------------------------
# Ingress
# -------------------------------------------------
ingress:
  enabled: false
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: llm-router.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - llm-router.local
      secretName: llm-router-tls