{% extends "base.html" %}
{% block content %}
<h2>List of defined configs</h2>
<div class="actions">
    <a class="btn" href="{{ url_for('new_config') }}">New config (from scratch))</a>
    <a class="btn" href="{{ url_for('import_config') }}">Load existing config</a>
    <a class="btn" href="{{ url_for('list_configs') }}">Show defined configs</a>
</div>
<ul class="card-list">
    {% for c in configs %}
    <li class="card">
        <div class="card-title">
            <strong>{{ c.name }}</strong>
            {% if c.is_active %}<span class="badge">DEFAULT</span>{% endif %}
        </div>
        <div class="card-actions">
            <a class="btn" href="{{ url_for('view_config', config_id=c.id) }}">Preview</a>
            <a class="btn" href="{{ url_for('edit_config', config_id=c.id) }}">Edit</a>
            <a class="btn" href="{{ url_for('export_config', config_id=c.id) }}">Export JSON</a>
            <button class="btn" hx-post="{{ url_for('set_active_config', config_id=c.id) }}" hx-swap="none">Set as default
            </button>
        </div>
    </li>
    {% else %}
    <li>No configuration found.</li>
    {% endfor %}
</ul>
{% endblock %}